:root {
    --form-padding-desktop: 10px;
    --form-padding-mobile: 6px;
    --form-width-deskop: 600px;
    --form-width-deskop-1a: calc(var(--form-width-deskop) - (2 * var(--form-padding-desktop)));
    --form-width-deskop-1b: var(--form-width-deskop);
    --form-width-mobile: 80vw;
    /* --form-width-mobile-1a: calc(var(--form-width-mobile) - (2 * var(--form-padding-mobile))); */
    /* --form-width-mobile-1b: var(--form-width-mobile); */
    --form-width-mobile-1a: calc(var(--form-width-mobile) - 20px);
    --form-width-mobile-1b: var(--form-width-mobile);
}


@media only screen and (max-width: 799px) {

    main {
        margin: 108px 5vw 108px 5vw;
    }

    .residue {
        position: fixed;
        top: 108px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        opacity: 0.05;
        z-index: -10;
        margin: 0;
    }

    label,
    h2 {
        font-size: 17px;
        margin: 0px 0px 8px 0px;

    }

    h1 {
        font-size: 48px;
        margin: 0px 0px 0px 0px;
    }

    h1,
    h2 {
        padding: 0px;
        line-height: 1.4;
    }


    .text-group-a {
        margin: 0px 10px 84px 10px;
    }

    .text-group-b {
        margin: 0px 0px 24px 0px;
    }

    label {
        width: var(--form-width-mobile);
    }

    textarea,
    input,
    button {
        height: 40px;
        width: var(--form-width-mobile);
        font-size: 16px;
        display: block;
    }


    select {
        height: 61.5px;
        width: var(--form-width-mobile);
        font-size: 16px;
        display: block;
    }

    #form,
    #login-form {
        width: var(--form-width-mobile);
    }

    .form-question,
    .form-input-a {
        width: var(--form-width-mobile-1a);
    }

    .form-input-b {
        width: var(--form-width-mobile-1b);
    }

    .qr {
        width: 160px;
        height: auto;
    }

}

@media only screen and (min-width: 800px) {

    main {
        margin: 160px auto 160px auto;
        width: 800px;
    }

    .residue {
        position: fixed;
        top: 160px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        opacity: 0.05;
        z-index: -10;
        margin: 0;
    }

    label,
    h2 {
        font-size: 20px;
        margin: 0px 0px 8px 0px;
    }

    h1 {
        font-size: 96px;
        margin: -6px 0px 20px 0px;
    }

    h3 {
        font-size: 36px;
    }

    h1,
    h2,
    h3 {
        padding: 0px;
        line-height: 1.4;
    }

    .text-group-a {
        margin: 0px 0px 160px 0px;
    }

    .text-group-b {
        margin: 0px 0px 80px 0px;
    }

    label {
        width: var(--form-width-deskop);
    }

    textarea,
    input,
    select {
        height: 40px;
        width: var(--form-width-deskop);
    }

    select {
        height: 61.5px;
        width: var(--form-width-mobile);
        /* font-size: 16px; */
        display: block;
    }

    #form,
    #login-form {
        width: var(--form-width-deskop);
    }

    .form-question,
    .form-input-a {
        width: var(--form-width-deskop-1a);
    }

    .form-input-b {
        width: var(--form-width-deskop-1b);
    }

    .qr {
        width: 160px;
        height: auto;
    }

}

html {
    margin: 0px;
}

body {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
}

main {
    box-sizing: border-box;
}

p {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .5px;
    text-align: center;
}

label,
h2 {
    display: block;
    font-family: "classico-urw", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

h2.invite {
    text-transform: lowercase;
    color: #D30000;
}

h1,
h3 {
    display: block;
    font-family: "classico-urw", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}

textarea,
input,
select,
select>option {
    background: #F2F2F2;
    border: none;
    resize: none;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .5px;
    border-top: 1.8px black solid;
    text-align: center;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

.attendance-option {
    color: red;
}

select {
    /* padding-left: 20px; */
}

a:link,
a:visited {
    text-decoration: none;
    color: #D30000;
}

a:hover,
a:active {
    text-decoration: underline;
    text-decoration-thickness: 1.8px;
    color: black;
}

#form,
#login-form {
    display: block;
    margin: auto;
}

.form-question,
#login-form {
    margin-bottom: 2rem;
}

.form-input {
    margin-top: 1rem;
}

#submit-button,
#password-button {
    width: 120px;
    height: 20px;
    background: #D30000;
    color: white;
    border: none;
    display: block;
    margin: auto;
}

.button:hover span {
    display: none
}

.button:hover:before {
    content: "Completed!";
}

#submit-button:hover span {
    display: none;
}

#submit-button:hover:before {
    content: "囍";
}

button {
    cursor: pointer;
}

.qr {
    display: block;
    margin: auto;
}